a{
    text-decoration: none;
    color: white;
}
a:active{
    color: white;
}
a:hover{
    color:white;
    text-decoration: none;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
#container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}