.navlinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(29, 163, 69, 0.116);

}

.navlinks li {
    float: right;
    padding-left: 20px;


}

.navlinks li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 20px;

}

.navlinks li a:hover {
    background-color: transparent;
}


.navlinks{
    font-size: 20px;
    font-family: 'PT Serif', serif;

     font-weight: 600;
    

}

#header{
  
    background-color: rgb(69, 211, 57);
    border-radius: 15px 50px;
}

.heading{
    font-size: 25px;

}

.heading a{
    color: black;
}
.heading a:hover{
    text-decoration: none;
    color: black;
}
.heading a:active{
    text-decoration: none;
    color: black;
}

.logoimg{
    padding-left: 10px;
    padding-top:10px;
}

.menu{
    padding-top: 10px;
    padding-bottom: 10px;
}
.menubutton{
    
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;

}
.menubutton:hover{
    background-color: #4CAF50;
    color: white;
}
.vl {
    border-left: 4px solid green;
    height: 400px;
  }

.footer{
    margin: 0 auto;
}

.default-pic{
    width:100px;
    
}



.jumbotron{
  background: url('../images/j.jpg');
  color: white;
  
}

.userlogoutbtn{
    background : transparent;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 15px 50px;
    display: block;
    color: black;
    text-align: center;
    padding: 8px;
    padding-right:15px;
    text-decoration: none;
    font-size: 20px;
}

.userlogoutbtn:hover{
    background: transparent;
    color: black;
}
.userlogoutbtn:active{
    background: transparent;
    color: black;
}







/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(108,231,96); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /* notification menu */


